<h1>Your Adoption Application is Pending</h1>
<p>Dear <%= @adopter.first_name %>,</p>
<p>We would like to inform you that your application to adopt <%= @pet.name %> is currently pending.</p>
<p>We will notify you as soon as there is an update on the status of your application. Thank you for your patience.</p>
<p>Sincerely,</p>
<p>The Pet Network Team</p>
