<h1>Your Adoption Application is Approved!</h1>
<p>Dear <%= @adopter.first_name %>,</p>
<p>We are pleased to inform you that your application to adopt <%= @pet.name %> has been approved.</p>
<p>Thank you for choosing to adopt and provide a loving home to a pet in need.</p>
<p>Sincerely,</p>
<p>The Pet Network Team</p>
