<h1>Your Adoption Application is Denied</h1>
<p>Dear <%= @adopter.first_name %>,</p>
<p>We regret to inform you that your application to adopt <%= @pet.name %> has been denied.</p>
<p>Thank you for your interest in adopting a pet. We encourage you to apply for other pets in need of a loving home.</p>
<p>Sincerely,</p>
<p>The Pet Network Team</p>
