<!DOCTYPE html>
<html>
  <body>
    <h1>Your Account is Pending Approval</h1>
    <p>Dear <%= @user.username %>,</p>
    <p>Thank you for signing up. Your account is currently pending approval. We will notify you once it has been reviewed.</p> <br />
    <p>Best regards!</p>
  </body>
</html>
