<!DOCTYPE html>
<html>
  <body>
    <h1>Welcome to Our Pet Network Platform, <%= @user.username %>!</h1>
    <br />
    <p>Your account as <%= @user.role.capitalize %> has been approved.</p>
    <p>We are excited to have you on board.</p>
    <br />
    <p>We look forward to working with you in our commitment to animal welfare and pet companionship.</p>
    <br />
    <p>Best regards!</p>
  </body>
</html>