<h1>Admin Dashboard</h1>

<ul>
  <li><%= link_to 'Manage Users', admin_users_path %></li>
  <li><%= link_to 'View Adoption Applications', admin_adoption_applications_path %></li>
  <li><%= link_to 'Invite User', invite_user_form_admin_users_path %></li>
</ul>
