<div>
  <h1 class="font-bold text-xl text-yellow-700">The Ruby Project</h1>
  <h1 class="font-bold text-4xl">LandingPage#index</h1>
  <p>Find me in app/views/landing_page/index.html.erb</p>

  <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "signout" %>
</div>
