@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/

@layer utilities {
  .signin-b-radius {
    border-top-left-radius: 180px; 
    border-top-right-radius: 16px; 
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 99px;
  }

  .signup-b-radius {
    border-top-left-radius: 16px; 
    border-top-right-radius: 180px; 
    border-bottom-right-radius: 99px;
    border-bottom-left-radius: 16px;
  }

  .topnav-li {
    line-height: 80px;
    margin: 0 20px;
  }

  .notice {
    display: block;
    opacity: 0;
    animation: fadeOut 10s forwards;
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 15px;
    background-color: green;
    max-width: 300px;
    z-index: 1000;
    transition: opacity 0.3s ease-in-out;
    cursor: default;
    border-radius: 5px;
    color: white;
    margin: auto;
  }

  /* .notice:empty {
    animation: fadeOut 0.1s forwards;
    background-color: transparent;
    border: transparent;
    box-shadow: none;
  } */

  .alert {
    display: block;
    opacity: 0;
    animation: fadeOut 10s forwards;
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 15px;
    background-color: rgba(131, 11, 35, 0.781);
    max-width: 300px;
    z-index: 1000;
    transition: opacity 0.3s ease-in-out;
    cursor: default;
    border-radius: 5px;
    color: white;
    margin: auto;
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      display: none;
    }
  }

}

* {
   /* outline: 1px solid red;   */
}