@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/

@layer utilities {
  .signin-b-radius {
    border-top-left-radius: 180px; 
    border-top-right-radius: 16px; 
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 99px;
  }

  .signup-b-radius {
    border-top-left-radius: 16px; 
    border-top-right-radius: 180px; 
    border-bottom-right-radius: 99px;
    border-bottom-left-radius: 16px;
  }

  .topnav-li {
    line-height: 80px;
    margin: 0 20px;
  }
}

* {
   outline: 1px solid red;  
}