@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/

@layer utilities {
  .signin-b-radius {
    border-top-left-radius: 180px; 
    border-top-right-radius: 16px; 
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 99px;
  }

  .signup-b-radius {
    border-top-left-radius: 16px; 
    border-top-right-radius: 180px; 
    border-bottom-right-radius: 99px;
    border-bottom-left-radius: 16px;
  }

  .topnav-li {
    line-height: 80px;
    margin: 0 20px;
  }

  .notice {
    display: block;
    opacity: 0;
    animation: fadeOut 10s forwards;
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: green;
    border: 1px solid rgba(220, 216, 210, 0.52);
    padding: 15px;
    max-width: 300px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: opacity 0.3s ease-in-out;
    cursor: default;
    border-radius: 5px;
    color: #fef4e7ff;

    &:empty {
      animation: fadeOut 0.1s forwards;
      background-color: rgba(255, 255, 255, 0);
      border: transparent;
      box-shadow: none;
    }
  }
  
  .alert {
    display: block;
    opacity: 0;
    animation: fadeOut 10s forwards;
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #957862ff;
    border: 1px solid rgba(220, 216, 210, 0.52);
    padding: 15px;
    max-width: 300px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: opacity 0.3s ease-in-out;
    cursor: default;
    border-radius: 5px;
    color: pink;

    &:empty {
      animation: fadeOut 0.1s forwards;
      background-color: rgba(255, 255, 255, 0);
      border: transparent;
      box-shadow: none;
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      display: none;
    }
  }
}

* {
  /* outline: 1px solid red;  */
}